@font-face {
	font-family: 'Dited';
	src: url('../../font/Dited.woff2') format('woff2'), url('../../font/Dited.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
.start-media {
    width: 100%;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: space-around;
}
.button-cv {
    display: block;
    width: 172px;
    height: 46px;
    color: white;
    background-color: #00cc88;
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    z-index: 1;
    position: relative;
}
.button-cv a {
    padding: 0;
    color: white;
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;

}
.button-cv:hover::before {
    background-color: #152421;
    transform-origin: left center;
    transform: scale(1, 1);
}

.button-cv::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #152421;
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}
.hi-text {
    font-family: 'Dited';
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    line-height: 45px;
    height: 200px;
  }
.my-foto {  
    height: 100%;
    border-radius: 10px;
    z-index: 1;
}
.wrapper-first {
    width: 100%;
    height: 450px;
    background-color: #152421bd;
    border: #00cc88 solid 4px;
    margin-bottom: 50px;
}
.wrapper-img {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: end;
}
@media (max-width: 790px){
    .start-media {
        width: 70%;
        display: flex;
        z-index: 2;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (max-width: 650px){
    .start-media {
        width: 100%;
        justify-content: space-between;
    }
    .wrapper-img  {
        display: none;
    }    
}
@media (max-width: 420px){
    .start-media {
        width: 100%;
        justify-content: space-between;
        font-size: 15px;
    }
    .button-cv a{
        font-size: 20px;

    }
    .button-cv {
        width: 140px;
        height: 40px;
    }
}
@media (max-width: 395px){
    .hi-text {
        font-size: 1.5rem;
    }
}
