#canvas {
    width: 100%;
    height: 455rem;
    z-index: -1;
  }

  @media (max-width: 1800px){
    #canvas{
        height: 410rem;
    }
  }
  @media (max-width: 1300px){
    #canvas{
        height: 390rem;
    }
  }
  @media (max-width: 801px){
    #canvas{
        height: 340rem;
    }
  }

  @media (max-width: 720px){
    #canvas{
      height: 320rem;
  }
  }
  @media (max-width: 669px){
    #canvas{
      height: 320rem;
  }
  }
  @media (max-width: 570px){
    #canvas{
      height: 310rem;
  }
  }
  @media (max-width: 500px){
    #canvas{
        height: 300rem;
    }
  }
  @media (max-width: 400px){
    #canvas{
        height: 285rem;
    }
  }